/* General */

* {
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  font-family        : Arial,
                       '文泉驛微米黑',
                       'WenQuanYi Micro Hei',
                       '黑體-繁',
                       'PinFang TC',
                       'Heiti TC',
                       '儷黑 Pro',
                       'LiHei Pro',
                       '微軟正黑體',
                       'Microsoft JhengHei',
                       '標楷體',
                       DFKai-SB,
                       sans-serif;
}

body,
html {
  width      : 100%;
  margin     : 0;
  padding    : 10px;
  overflow-x : hidden;
  background : none repeat scroll 0 0 #f2f5fb;
}

.container,
body,
html {
  padding : 0;
}

/* Header */

header {
  height            : 186px;
  margin            : 0 !important;
  background-image  : url('../img/top.png');
  background-repeat : no-repeat;
  background-size   : 1024px 186px;
}

.banner-cse {
  padding-top  : 28px;
  padding-left : 52px;
}

.banner-cse img {
  width  : 363px;
  height : 104px;
}

.nav-nchu {
  height    : 73px;
  color     : #1c2b5e;
  font-size : 13px;
}

.nav-nchu span {
  position : absolute;
  top      : 12px;
  right    : 70px;
}

.nav-nchu span a {
  color : #1c2b5e;
}

/* Navbar */

nav {
  min-height       : 0!important;
  background-color : white!important;
}

#navbar-cse {
  position: relative;
  left: 50%;
  margin-left: -439px;
  width          : 883px;
  /*float          : right;*/
  letter-spacing : .2em;
}

#navbar-cse ul li {
  height      : 38px;
  padding     : 0;
  padding-top : 5px;
}

#navbar-cse ul li a {
  padding     : 4px;
  color       : white;
  font-weight : bolder;
}

.navbar {
  margin        : 0;
  border        : 0;
  border-radius : 0;
}

.navbar-collapse {
  padding : 0;
}

.navbar .nav {
  display     : table;
  width       : 100%;
  margin      : 0;
  font-size   : 16px;
  font-weight : bold;
}

.navbar .nav> li {
  display    : table-cell;
  width      : 14.28%;
  height     : 100%;
  float      : none;
  text-align : center;
}

.navbar .nav> li> ul {
  width : 100%;
}

.dropdown-menu {
  border-radius    : 0;
  background-color : rgba(62, 139, 198, 0.8);
}

.dropdown-menu li a {
  padding-top    : 4px !important;
  padding-bottom : 4px!important;
  padding-left   : 16px!important;
  color          : white!important;
}

.dropdown-menu li a:hover {
  background-color : inherit;
}

.dropdown:hover .dropdown-menu {
  display : block;
}

.dropdown-last .dropdown-menu {
  left : -33px;
}

/* General Contents */

.to-top {
  z-index          : 10000;
  position         : fixed;
  top              : 160px;
  right            : 0;
  width            : 50px;
  height           : 50px;
  color            : black;
  opacity          : .6;
  border           : 1px solid #ddd;
  border-radius    : 6px;
  background-color : #eee;
  text-align       : center;
  line-height      : 50px;
}

.container {
  width      : 1024px;
  background : none repeat scroll 0 0 white;
}

#content {
  padding-top    : 26px;
  padding-right  : 24.5px;
  padding-bottom : 61px;
  padding-left   : 24.5px;
}

.panel {
  margin     : 8px 0 8px 0;
  padding    : 8px;
  border     : 0;
  box-shadow : 0 0 0 black;
}

.alert {
  margin-right : 8px;
  margin-left  : 8px;
}

.card-view {
  border-right     : 3px solid #d2d3d3;
  border-bottom    : 3px solid #d2d3d3;
  border-radius    : 0px 0px 12px 0px;
  background-color : white;
}

.table-view {
  padding-right : 10%;
  padding-left  : 5%;
}

.table-view table {
  border        : 1px solid #f2f5fb;
  border-radius : 9px;
}

.card-brand {
  width            : 100%;
  margin-bottom    : 8px;
  padding          : 5px 12px 5px 12px;
  color            : #777;
  border-bottom    : 1px dotted #ccc;
  background-color : white;
  font-size        : 16px;
  font-weight      : bold;
  letter-spacing   : .4em;
}

.file-menu {
  height   : 250px;
  overflow : auto;
}

/* Footer */

footer {
  width             : 1024px;
  padding           : 15px;
  background-image  : url('../img/bot.png');
  background-color  : #dbe1f2;
  background-repeat : no-repeat;
  background-size   : 1024px 120px;
}

footer p {
  margin         : 0;
  color          : #1d2088;
  font-size      : 11px;
  line-height    : 2em;
  letter-spacing : 0.3px;
  /* text-align : center; */
  /* font-style: italic; */
}

footer p a {
  color : #1d2088;
}
