/* Slider */

#slider-container {
  height        : 396px;
  padding-right : 49.5px;
  padding-left  : 49.5px;
}

#slider {
  position          : relative;
  width             : 883px;
  height            : 100%;
  background-image  : url("../img/slide.png");
  background-color  : white;
  background-repeat : repeat;
  background-size   : 883px 396px;
  box-shadow        : 0px 2px 6px black;
}

#welcome> span {
  z-index          : 10;
  display          : block;
  position         : absolute;
  top              : 150px;
  left             : 80px;
  padding          : 4px;
  color            : white;
  border-radius    : 8px;
  background-color : rgba(0, 0, 0, .5);
  box-shadow       : 1px 1px 20px black;
  text-shadow      : 1px 1px 1px black;
  font-size        : 24px;
}

#welcome> span:nth-child(2) {
  top         : 190px;
  font-weight : bold;
}

#viewport {
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}

#slides {
  height     : 100%;
  margin     : 0;
  padding    : 0;
  list-style : none;
}

#slides li {
  display  : inline-block;
  position : relative;
  height   : 80%;
  float    : left;
}

#slides li img {
  position : absolute;
  width    : 599px; /* Magic number */
  height   : 396px;
}

#slide-title-container {
  position : relative;
  top      : -396px;
  height   : 100%;
}

#slide-title {
  height     : 100%;
  padding    : 0;
  list-style : none;
}

#slide-title li {
  display  : inline-block;
  position : relative;
  height   : 100%;
  padding  : 16px;
}

#slide-title li span {
  display        : block;
  position       : absolute;
  top            : 130px;
  right          : 16px;
  width          : 27%;
  color          : #f7ed11;
  font-size      : 18px;
  font-weight    : bold;
  line-height    : 1.8em;
  letter-spacing : 0.8px;
}

#slide-dot-container {
  width          : 100%;
  height         : 20px;
  padding-top    : 8px;
  padding-bottom : 42px;
}

#slide-dots {
  position   : relative;
  left       : 40%;
  width      : 100%;
  height     : 100%;
  margin     : 0;
  padding    : 0;
  list-style : none;
}

#slide-dots li {
  position         : relative;
  width            : 10px;
  height           : 10px;
  float            : left;
  margin           : 4px;
  border-radius    : 10px;
  background-color : black;
  box-shadow       : 1px 1px 2px grey;
}

#slide-dots li:nth-child(1) {
  background-color : white;
}
