<div class="table-view">
    <div class="card-brand">
        <span>表格文件及相關辦法 - 大學部適用</span>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>相關辦法</th>
                <th>PDF</th>
                <th>DOC</th>
                <th>ODT</th>
            </tr>
        </thead>
        <tbody id="rule-bachelor">
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>表格下載</th>
                <th>PDF</th>
                <th>DOC</th>
                <th>ODT</th>
            </tr>
        </thead>
        <tbody id="doc-bachelor">
        </tbody>
    </table>
</div>

<script>
    $("title").text("辦法表格 |" + "中興資工系");
    fetchJson("rule", bindDocument);
    fetchJson("document", bindDocument);
</script>
