<select id="news-year"></select>
<!-- <select id="news-month"></select> -->

<div id="news-container" class="table-view"></div>

<div id="load-more">
    <button id="load-btn" class="btn btn-primary">載入更多</button>
</div>

<script>
    $("title").text("系辦公告 |" + "中興資工系");

    var start = 0,
        end = 30;
    var yearBreak = [];
    var savedNews;

    if (getParameter("id") != undefined) {
        $("#news-year").remove();
        fetchItem("news", bindNewsItem, getParameter("id"));
    } else {
        fetchJson("news", bindNews);
    }

    $("#load-btn").bind("click", function() {
        if (start == end) {
            return;
        }
        fetchJson("news", bindNews);
    })

    if (getParameter("id") != undefined) {
        $("#load-btn").remove();
    }
</script>
