<div class="card-view">
    <div class="card-brand">
        <span>學生名冊</span>
    </div>

    <span>欲下載請按此: <a href="http://www.cs.nchu.edu.tw/student/vacancy.csv">實驗室新生及缺額名單</a></span>

    <div align="center">
        <p align="center"><strong>105學年度碩博士新生各實驗室缺額表 105.07.05更新</strong></p>
        <table border="1" cellpadding="0" cellspacing="0">
            <tbody>
                <tr width="700">

                </tr>


                <tr>
                    <td width="60">
                        <p align="center"><strong>項次</strong></p>
                    </td>
                    <td width="320">
                        <p align="center"><strong>實驗室</strong></p>
                    </td>
                    <td width="110">
                        <p align="center"><strong>指導教授</strong></p>
                    </td>
                    <td width="110">
                        <p align="center"><strong>碩士新生名單</strong></p>
                    </td>
                    <td width="110">
                        <p align="center"><strong>碩士新生缺額</strong></p>
                    </td>
                    <td width="110">
                        <p align="center"><strong>博士新生名單</strong></p>
                    </td>
                    <td width="110">
                        <p align="center"><strong>博士新生缺額
</strong></p>
                    </td>
                </tr>


                <tr>
                    <td width="60">
                        <p align="center">1</p>
                    </td>
                    <td width="320">
                        <p align="center">網路與交換系統實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">林 偉</p>
                    </td>
                    <td width="110">
                        <p align="center">林○永 林○霖 劉○灝</p>
                    </td>
                    <td width="110">
                        <p align="center">0</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">0
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">2</p>
                    </td>
                    <td width="320">
                        <p align="center">醫學影像處理實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">喻石生</p>
                    </td>
                    <td width="110">
                        <p align="center">顧○傑 林○翰 張○瑭</p>
                    </td>
                    <td width="110">
                        <p align="center">0</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">1
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">3</p>
                    </td>
                    <td width="320">
                        <p align="center">超大型積體電路/電腦輔助設計實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">王行健</p>
                    </td>
                    <td width="110">
                        <p align="center">佟○鵬</p>
                    </td>
                    <td width="110">
                        <p align="center">3</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">1
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">4</p>
                    </td>
                    <td width="320">
                        <p align="center">人工智慧實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">洪國寶</p>
                    </td>
                    <td width="110">
                        <p align="center">蘇○豪 鄭○</p>
                    </td>
                    <td width="110">
                        <p align="center">1</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">0
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">5</p>
                    </td>
                    <td width="320">
                        <p align="center">圖學多媒體暨虛擬實境實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">王宗銘</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">3</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">1
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">6</p>
                    </td>
                    <td width="320">
                        <p align="center">資料挖掘與知識工程實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">廖宜恩</p>
                    </td>
                    <td width="110">
                        <p align="center">游○樵 賴○宇</p>
                    </td>
                    <td width="110">
                        <p align="center">1</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">0
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">7</p>
                    </td>
                    <td width="320">
                        <p align="center">資料工程實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">賈坤芳</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">3</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">1
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">8</p>
                    </td>
                    <td width="320">
                        <p align="center">系統暨網路管理實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">高勝助</p>
                    </td>
                    <td width="110">
                        <p align="center">賴○文 林○恩 王○佑</p>
                    </td>
                    <td width="110">
                        <p align="center">0</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">1
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">9</p>
                    </td>
                    <td width="320">
                        <p align="center">系統單晶片實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">黃德成</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">3</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">0
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">10</p>
                    </td>
                    <td width="320">
                        <p align="center">低功率計算機結構實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">張延任</p>
                    </td>
                    <td width="110">
                        <p align="center">林○俊 許○皓</p>
                    </td>
                    <td width="110">
                        <p align="center">1</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">1
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">11</p>
                    </td>
                    <td width="320">
                        <p align="center">網路運算實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">王丕中</p>
                    </td>
                    <td width="110">
                        <p align="center">黃○勛 王○文 陳○皓</p>
                    </td>
                    <td width="110">
                        <p align="center">0</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">1
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">12</p>
                    </td>
                    <td width="320">
                        <p align="center">系統與網路實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">張軒彬</p>
                    </td>
                    <td width="110">
                        <p align="center">張○堯 嚴○珊 廖○能</p>
                    </td>
                    <td width="110">
                        <p align="center">0</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">0
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">13</p>
                    </td>
                    <td width="320">
                        <p align="center">訊號與影像處理實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">吳俊霖</p>
                    </td>
                    <td width="110">
                        <p align="center">楊○虹 廖○葳</p>
                    </td>
                    <td width="110">
                        <p align="center">1</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">0
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">14</p>
                    </td>
                    <td width="320">
                        <p align="center">前瞻無線資訊網路實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">陳煥</p>
                    </td>
                    <td width="110">
                        <p align="center">黃○琦 王○瑜 柯○文</p>
                    </td>
                    <td width="110">
                        <p align="center">0</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">0
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">15</p>
                    </td>
                    <td width="320">
                        <p align="center">電腦視覺暨多媒體實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">黃春融</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">4</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">1
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">16</p>
                    </td>
                    <td width="320">
                        <p align="center">無線通訊暨雲端計算實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">曾學文</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">3</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">1
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">17</p>
                    </td>
                    <td width="320">
                        <p align="center">普及資料與智慧計算實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">范耀中</p>
                    </td>
                    <td width="110">
                        <p align="center">溫○翔 陳○廷</p>
                    </td>
                    <td width="110">
                        <p align="center">2</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">1
                        </p>
                    </td>
                </tr>
                <tr>
                    <td width="60">
                        <p align="center">18</p>
                    </td>
                    <td width="320">
                        <p align="center">安全與隱私實驗室</p>
                    </td>
                    <td width="110">
                        <p align="center">游家牧</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">3</p>
                    </td>
                    <td width="110">
                        <p align="center"></p>
                    </td>
                    <td width="110">
                        <p align="center">0</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
