<div class="table-view">
    <div class="card-brand">
        <span>碩士在職專班</span>
    </div>

    <div class="alert alert-danger" role="alert">
        <span>
      <ul>
        <li>每位碩士生入學時於八月二十日前商請指導教授並且填送指導教授同意書及指導教授通知書。</li>
        <li>未於新生座談會領取新生資料袋者(含有email設定及修課等相關資訊)，請務必至系辦公室領取。</li>
        <li>系務重要訊息皆透過資工系email或系辦公室公佈欄及資工系網頁新聞區公佈，請定期收信及看公告。</li>
        <li>系務相關問題請洽詢系辦公室陳秀蘭小姐、陳丹尼小姐或陳靖怡小姐。(電話04-22840497轉分機801或822或815)</li>
      </ul>
    </span>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>課程資訊</th>
                <th>PDF</th>
                <th>DOC</th>
                <th>ODT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>在職碩專班課程地圖</td>
                <td><a href="http://www.cs.nchu.edu.tw/course/course_map/b_course_map.pdf">下載</a></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>修業規定</th>
                <th>PDF</th>
                <th>DOC</th>
                <th>ODT</th>
            </tr>
        </thead>
        <tbody id="rule-master-alt"></tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>在職碩專班 - 畢業條件明細</th>
                <th>PDF</th>
                <th>DOC</th>
                <th>ODT</th>
            </tr>
        </thead>
        <tbody id="graduate-master-alt"></tbody>
    </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>中科在職碩專班 - 畢業條件明細</th>
                <th>PDF</th>
                <th>DOC</th>
                <th>ODT</th>
            </tr>
        </thead>
        <tbody id="graduate-master-alt-ctsp"></tbody>
    </table>
</div>

<script>
    $("title").text("課程資訊 |" + "中興資工系");
    fetchJson("document", bindStudent);
</script>
